<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Change of balance form</title>
</head>
<body>
    <h1>Current balance: {{ balance }} in PLN</h1>
    <form action="/change_balance" method="POST" >
        <div class="mb-3">
            <label>Comment (add or substract):</label>
            <input type="text" name="comment" required><br><br>
            <label>Value (number):</label>
            <input type="number" class="form-control" step="0.01" name="value" required><br><br>
        </div>
            <button type="submit" class="btn btn-primary" style="color: white;">Change balance</button>
    </form>

    <h2>Entered data:</h2>
    <p>Your balance: {{ balance }}</p>
    {% if comment == add %}
    <p>{{ answer_add }}</p>
    {% endif %}
    {% if comment == substract %}
    <p>{{ answer_substract }}</p>
    {% endif %}


    <p class="line-spacing"><button type="button" class="btn btn-primary"> <a href="/" style="color: white;">Back to home page</a></button></p>

</body>
</html>